/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.backgorund{
    
     -fx-background-image: url("images/tema.png");
}


.AdminIzbornaTraka-AnchorPane{
    
    -fx-background-color:#079185;
}

.text-field{
    
    -fx-border-radius: 0;
    -fx-border:0 1 00;
    -fx-border-color: #079185;
    -fx-font-family: Tahoma;
    -fx-font-size: 9pt;
    -fx-font-color: #079185;
}

.trakaPane-pane{
    
    -fx-background-color: #0ba895;
}

